
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: black;
    color: white;
    display: flex;
    height: 100px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin-left: 30px;
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
}

header ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 15px;
    margin-right: 30px;
}

header ul li a {
    color: white;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    position: relative;
}

header ul li a:before {
    content: "";
    background: white;
    position: absolute;
    bottom: -10px;
    height: 5px;
    width: 0%;
    transition: ease .8s;
}

header ul li a:hover::before {
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    background-image: url("https://us.123rf.com/450wm/korolyok/korolyok1803/korolyok180300044/96960615-fondo-de-textura-de-papel-de-peri%C3%B3dico-viejo-fondo-de-peri%C3%B3dico-vintage-borrosa-p%C3%A1gina-con-textura-d.jpg?ver=6");
    background-repeat: no-repeat;
    background-size: 100%;
}


main section button {
    border-radius: 5px;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: black;
    color: white;
    font-family: 'Oswald', sans-serif;
    box-shadow: 10px 5px 5px black;
    font-size: 15px;
    text-decoration: none;
    border: 2px solid black;
    transition-duration: 0.8s;
    width: 200px;
}

main section button:hover {
    color: rgb(177, 31, 31);
}

footer {
    background-color: black;
    height: 70px;
}

footer h3 {
    color: white;
    text-align: center;
    padding-top: 30px;
}




